.Team {
  .users {
  }
  .teamHeadContainer {
  }
  .teamHead {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 0.9rem;
  }
  .teamSubHead {
    color: var(--color-primary);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
  }
}
